
<h1> Detail de {{det.libelle}} {{det.id}}</h1>
<ul class="list-group"> 
   
    <li class="list-group-item"> marque {{det.marque}} </li>
    <li class="list-group-item"> prix {{det.prix}} </li>
    <li class="list-group-item"> description {{det.description}}</li>
    <li class="list-group-item"> quantite {{det.quantite}}</li>
    <li class="list-group-item"> <input type="checkbox" [checked] ="det.hautGamme"> hout de gamme </li>
   <!-- <li class="list-group-item"> {{det.commentaires.note}} </li>-->
    <button class="btn btn-primary" (click)="onshow()"> afficher les commentaires</button>
    <div *ngIf="!showing">
    <!---->
    <YES-comment [com] = "det.commentaires"></YES-comment>
    </div>
</ul>