<h1>{{titre}}</h1>
<ul>
    <li *ngFor="let t of tab ;index as indice ; count as compteur"> {{t}} <button *ngIf="t%2==0"> position</button></li>
</ul>
<h2> les elements paire de tableau </h2>
<ul>
    <ng-container *ngFor="let t of tab">
        <li *ngIf="t%2==0">{{t}}</li>
    </ng-container>
</ul>
<h2> afficher tout les elements de tableau avec leux parité</h2>
<ul>
    <ng-container *ngFor="let t of tab">
        <li *ngIf="t%2==0">{{t}} ce nombre est pair</li>
        <li *ngIf="t%2!=0">{{t}} ce nombre est impaire </li>
    </ng-container>
</ul>